@import "../../../variables";

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10vh;

  label {
    font-size: 1.5rem;
  }

  .select-wrap {
    position: relative;

    img {
      position: absolute;
      right: .8rem;
      top: 43%;
      cursor: pointer;
      z-index: -1;
    }

    select {
      display: block;
      font-size: 1.2rem;
      color: #fff;
      padding: .4rem .8rem;
      width: 100%;
      max-width: 100%;
      border: 1px solid $pink;
      box-shadow: $shadow;
      border-radius: 5px;
      appearance: none;
      background-color: $light-purple;
      transition: all 0.3s ease-out;
      cursor: pointer;

      &:hover {
        box-shadow: $shadow;
      }

      &:focus {
        color: #fff;
        outline: none;
      }

      option {
        font-weight: normal;
        background-color: $dark-purple;
      }
    }
  }
}
