@import "../../../variables";

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 500px;
  padding-bottom: 10vh;

  label {
    font-size: 1.5rem;
  }

  input {
    background: $light-purple;
    color: #fff;
    text-shadow: 0 0 20px $pink;

    &:focus {
      box-shadow: $shadow;
    }
  }

  button {
    color: #fff;
    background: rgb(46, 2, 69);
    cursor: pointer;
    transition: all 0.3s ease-out;


    &:hover {
      background: rgba(46, 2, 69, .7);
      box-shadow: $shadow;
    }

    &:active {
      box-shadow: 0 0 0 $purple;
    }

    &:disabled {
      border: 1px solid #999999;
      background-color: $light-purple;
      color: #fff;
      cursor: default;
      pointer-events: none;
    }
  }
}
