@import "../../../variables";

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10vh;

  label {
    font-size: 1.5rem;
  }

  input {
    background: $light-purple;
    color: #fff;
    text-shadow: 0 0 20px $pink;

    &:focus {
      box-shadow: $shadow;
    }
  }

}
